.input-container {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  height: 390px;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .input-container {
    flex-direction: column;
    height: 800px;
  }
}
