.input-container {
  display: flex;
  gap: 0.8rem;
  height: 390px;
}

.info {
  display: flex;
  height: 600px;
  position: relative;
  gap: 0.6rem;
  padding-top: 1rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .input-container {
    flex-direction: column;
    height: 100%;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
}
