.course-item-container {
  /* position: relative; */
  width: 100%;
  height: 265px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 13px 2px rgba(25, 25, 25, 0.25);
  -webkit-box-shadow: 0px 4px 13px 2px rgba(25, 25, 25, 0.25);
  -moz-box-shadow: 0px 4px 13px 2px rgba(25, 25, 25, 0.25);
}
.item-info-container:hover .item-image img {
  transform: scale(1.1);
}
.item-info-container {
  /* flex: 8; */
  background: transparent;
  cursor: pointer;
}

.item-nav-container {
  flex: 1;
  color: var(--color-text-basic);
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 2px solid var(--color-border-semi);
}

.item-image {
  position: relative;
  height: 7rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}
.item-image-box {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(255, 255, 255, 0.9) 5%,
    rgba(255, 255, 255, 0.8) 7%,
    rgba(255, 255, 255, 0.72) 10%,
    rgba(255, 255, 255, 0.63) 15%,
    rgba(255, 255, 255, 0.52) 20%,
    rgba(255, 255, 255, 0.45) 25%,
    rgba(255, 255, 255, 0.35) 32%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.item-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-info-text {
  padding: 0rem 0.4rem 0.4rem;
  color: var(--color-text-basic);
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}
.content {
  font-size: 0.8rem;
  color: var(--color-text-test);
  white-space: normal;
  height: 2.6rem;
  overflow: hidden;
  padding: 0 0.2rem;
  margin-bottom: 0.1rem;
}

.item-nav-container {
  display: flex;
}

.item-nav {
  width: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-size: 1.3rem;
}

.item-nav:hover > .icon {
  color: var(--color-blue);
  scale: 107%;
  transition: 200ms;
}

.item-nav.center {
  border-right: 1px solid var(--color-border-semi);
  border-left: 1px solid var(--color-border-semi);
}

.roughmapBtn {
  position: relative;
}

.bookmark {
  color: var(--color-blue);
}
