.course-item-container {
  /* position: relative; */
  width: 100%;
  height: 260px;
  border: 2px solid var(--color-border-dark);
  background-color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1rem;
}
.item-info-container {
  /* flex: 8; */
  background: transparent;
}

.item-nav-container {
  flex: 1;
  color: black;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 2px solid var(--color-border-semi);
}
.item-image {
  position: relative;
  height: 7rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  overflow: hidden;
}
.item-image-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 6%,
    rgba(255, 255, 255, 0.9) 13%,
    rgba(255, 255, 255, 0.8) 23%,
    rgba(255, 255, 255, 0.72) 31%,
    rgba(255, 255, 255, 0.63) 38%,
    rgba(255, 255, 255, 0.52) 43%,
    rgba(255, 255, 255, 0.45) 47%,
    rgba(255, 255, 255, 0.4) 52%,
    rgba(255, 255, 255, 0.32) 59%,
    rgba(255, 255, 255, 0.25) 69%,
    rgba(255, 255, 255, 0.25) 100%
  );
}

.item-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.item-info-text {
  transform: translateY(-0.6rem);
  padding: 0rem 0.4rem;
}

.item-info-text h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 1.1rem;
}
.item-info-text p {
  font-size: 0.8rem;
  color: var(--color-text-test);
  white-space: normal;
  height: 2.6rem;
  overflow: hidden;
  font-weight: 500;
}

.item-nav-container {
  display: flex;
}

.item-nav {
  width: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-basic);
  font-size: 1.3rem;
}

.item-nav.center {
  border-right: 1px solid var(--color-border-semi);
  border-left: 1px solid var(--color-border-semi);
}

.roughmapBtn {
  position: relative;
}
