.course-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 6rem 0;
  gap: 0.8rem;
}
.input-container {
  display: flex;
  gap: 0.8rem;
  height: 390px;
}

.info {
  display: flex;
  height: 600px;
  position: relative;
  gap: 0.6rem;
  padding-top: 1rem;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn {
  padding: 0.7rem 0;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-text-basic);
  font-weight: 600;
  margin-bottom: 0.4rem;
  transition: 0.3s;
  border: none;
}
.cancel-btn {
  width: 80px;
}
.submit-btn {
  width: 200px;

  background-color: #d9f8c4;
}
.btn:hover {
  transform: translateY(5px);
}
