.roughmap-container {
  position: absolute;
  width: 200px;
  background-color: var(--color-white);
  padding: 0.6rem 1rem;
  border: 1px solid var(--color-border-semi);
  border-radius: 0.4rem;
  z-index: 6;
  overflow: hidden;
  top: 106%;
  left: 0;
}

.listitem {
  position: relative;
  padding: 0.3rem 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.circle {
  min-width: 0.6rem;
  min-height: 0.6rem;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(174, 238, 218, 1) 0%,
    rgba(148, 181, 233, 1) 100%
  );
  position: relative;
}
.circle::before {
  z-index: -1;
  content: "";
  width: 2px;
  height: 30px;
  bottom: 0;
  position: absolute;
  background-color: var(--color-border-dark);
  left: 0;
  right: 0;
  margin: auto;
}

.title {
  font-family: var(--primary-font);
  font-size: 0.8rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .roughmap-container {
    position: absolute;
    width: 115px;
    padding: 0.1rem 0.4rem;
  }
  .listitem {
    padding: 0.2rem 0;
    gap: 0.4rem;
  }
  .circle {
    min-width: 0.5rem;
    min-height: 0.5rem;
  }
  .title {
    font-size: 0.7rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .roughmap-container {
    position: absolute;
    width: 120px;
    padding: 0.1rem 0.2rem 0.1rem 0.3rem;
  }
  .listitem {
    padding: 0.2rem 0;
    gap: 0.3rem;
  }
  .circle {
    min-width: 0.4rem;
    min-height: 0.4rem;
  }
  .circle::before {
    z-index: -1;
    width: 1px;
  }
  .title {
    font-size: 0.6rem;
  }
}
