.dropdown-wrapper {
  position: relative;
}
.sort h4 {
  margin-bottom: 0.6rem;
}

.dropdown-label {
  display: flex;
  gap: 0.375rem;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.009em;
  color: rgb(0, 0, 0);
  border: 0;
  background: none;
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  position: absolute;
  margin-top: 0.5rem;
  top: 100%;
  left: 0px;
  z-index: 2;
  min-width: 10rem;
  padding: 0.3rem 0px;
  box-shadow: rgba(20, 20, 84, 0.12) 0px 0px 0px 0.0625rem,
    rgba(20, 20, 84, 0.08) 0px 1rem 2rem -0.125rem,
    rgba(20, 20, 84, 0.08) 0px 0.5rem 1.125rem,
    rgba(20, 20, 84, 0.04) 0px 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
}

.sort-item {
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.sort-item:hover {
  background-color: var(--color-primary);
}
