.dropdown-wrapper {
  position: relative;
}

.dropdown-label {
  width: 105px;
  display: flex;
  gap: 0.35rem;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border: 0;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
  border: 1px solid var(--color-border-semi);
  border-radius: 0.25rem;
}

.dropdown-content {
  position: absolute;
  margin-top: 0.3rem;
  top: 100%;
  left: 0px;
  z-index: 2;
  min-width: 105px;
  padding: 0.2rem 0px;
  box-shadow: rgba(20, 20, 84, 0.12) 0px 0px 0px 0.0625rem,
    rgba(20, 20, 84, 0.08) 0px 1rem 2rem -0.125rem,
    rgba(20, 20, 84, 0.08) 0px 0.5rem 1.125rem,
    rgba(20, 20, 84, 0.04) 0px 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  color: var(--color-text-basic);
}

.sort-item {
  padding-left: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.sort-item:hover {
  background-color: var(--color-primary);
}
