.board-card-container {
  width: calc(100% / 3 - 1rem);
  border-radius: 1rem;
  background-color: white;
  border: 1px solid grey;
  padding: 1rem;
}

.board-header-container {
  display: flex;
  justify-content: space-between;
}

.board-header-container p {
  font-size: 0.7rem;
  color: #6d6d6d;
}

/* .board-title {
}
.board-ago {
} */

.board-content-container {
  display: flex;
  flex-direction: column;
  padding-top: 0.4rem;
  gap: 0.2rem;
  font-size: 0.9rem;
}

/* .content-palce {
}
.content-date {
} */

.board-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-left {
  font-size: 0.8rem;
  color: #6d6d6d;
}
.footer-right {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.footer-right-number {
  color: #505050;
}
