.select-container {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.6rem;
}

.tag-container {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.reset-btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  gap: 0.2rem;
}
