.place-card-container {
  width: 240px;
  overflow: hidden;

  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  background-color: var(--color-white);
  animation: ease-in;
  cursor: pointer;
}

.place-card-container:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px 0px;
}
.place-image-container {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 0.4rem;
}

.place-image-container img {
  overflow: hidden;
  height: 180px;
}

.place-card-content {
  margin: 0.8rem;
  margin-top: 0.3rem;
}

.place-card-title h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.place-card-title {
  margin: 0.1rem 0;
}

.place-card-desc p {
  display: -webkit-box;
  height: 4rem;
  line-height: 1.2;
  height: 3.6em;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
