.recommended-container {
  padding: 1rem 0.6rem 0.6rem;
  border-radius: 8px;
  margin-bottom: 0.6rem;
}

.recommended-container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6rem 0;
}
.recommended-container-title h3 {
  flex-grow: 1;
}
.link-button {
  display: inline-block;
  background-color: var(--color-text-basic);
  color: var(--color-white);
  padding: 4px 10px;
  border-radius: 4px;
  font-family: var(--primary-font);
  font-size: 0.8rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
}

/* MEDIA QUERIES (middle) */
@media screen and (max-width: 800px) {
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .recommended-container {
    padding: 0.8rem;
  }
  .link-button {
    font-size: 0.7rem;
    padding: 3px 9px;
  }
}
