.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 8rem 2rem;
}

.loading {
  width: 70rem;
  margin: 10rem;
  padding: 2rem 3rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .loadingBox {
    width: 80%;
    margin: 0 auto;
  }

  .loading {
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .loadingBox {
    width: 80%;
    margin: 0 auto;
  }

  .loading {
    width: 100%;
    margin: 0 auto;
  }
}
