.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 8rem 2rem;
}

.loading {
  width: 70rem;
  margin: 10rem;
  padding: 2rem 3rem;
  text-align: center;
}
