.loginContainer {
  --color-desc: #878787;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 1rem;
  width: 30rem;
  height: 30rem;
  background: var(--color-white);
  border-radius: 12px;
  padding: 2rem;
}

.loginTitle {
  margin-bottom: 1rem;
}

.loginInfo {
  font-size: medium;
  color: var(--color-desc);
  margin-bottom: 6rem;
}

.link {
  text-decoration-line: none;
}

.kakaoBtn {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.footerDesc {
  margin-top: 4rem;
  font-size: small;
  color: var(--color-desc);
}

@media screen and (max-width: 600px) {
  .loginContainer {
    width: 80%;
    padding: 0;
  }

  .kakaoBtn {
    width: 100%;
    margin: 0;
  }

  .kakaoLogin {
    width: 100%;
  }
}
