.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100%;
  height: 100%;

  margin-bottom: 65px;
}
.Title {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  width: 900px;
}

.bookmark-container {
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 10px;
}
.bookmark-item {
  display: flex;
  align-items: center;
  width: 800px;
  gap: 1rem;
  margin-bottom: 1rem;
}

.bookmark-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bookmark-item div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bookmark-item h2 {
  margin: 0;
  font-size: 1.5rem;
}

.bookmark-item p {
  margin: 0;
}

.tabContainer {
  display: flex;
  margin-bottom: 20px;
  margin-right: 37rem;
}

.tab {
  cursor: pointer;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: #000;
  border-color: #000;
}
