.btn {
  gap: 10px;
}

.login-btn {
  background-color: #ff0232;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.login-btn:hover {
  background-color: #ff5461;
  color: #fff;
}

.signup-btn {
  background-color: #004aad;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #0066cc;
}
