.search-bar {
  width: 700px;
  height: 45px;
  padding: 0 10px 0 40px;
  background-color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
}

.search-input {
  width: 600px;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  overflow: auto;
}
.search-input:focus {
  outline: none;
}

.search-icon {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  float: right;
  background-color: white;
}
