.course-id-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.title-container {
  border-bottom: 3px solid var(--color-border-semi);
  width: 100%;
  text-align: center;
  margin-bottom: 0.4rem;
}
.title-length {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 50px;
  font-size: 1.4rem;
  margin-right: 0.8rem;
}

.title {
  padding: 1.8rem 1rem 5rem 1rem;
}

.title-info {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  align-items: flex-end;
}

.btn-wrapper {
  position: relative;
  display: flex;
  gap: 0.6rem;
}

.btn {
  padding: 0.3rem 0.6rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-border-semi);
  transition: 0.3s;
  border: none;
}

.btn:hover {
  color: var(--color-text-basic);
  font-weight: 600;
  border: none;
}

.btn-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--color-text-semi);
  margin: auto;
  height: 50%;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kakao-profile-img {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.6rem;
}
