.main {
  margin: 0 1rem;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  padding: 1rem 4rem 0.5rem;
}

.main h1 {
  margin-bottom: 2rem;
}

.filter-container {
  width: 100%;
  gap: 1rem;
  padding: 0.5rem 8rem 2.5rem;
}

.course-filter-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4rem;
}
.filter {
  display: flex;
  gap: 3rem;
}

.write-btn {
  padding: 0.8rem 1.1rem;
  border-radius: 0.4rem;
  background-color: var(--color-primary);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-text-basic);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.write-btn:hover {
  transform: scale(1.05);
}

.filter-wrapper h4 {
  margin-bottom: 0.4rem;
}
