.main {
  min-height: 600px;
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 2rem;
}

.main h1 {
  text-align: center;
  margin-bottom: 1.6rem;
}

.area-wrapper {
  width: 100%;
  padding: 0.5rem 8rem 2.5rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .main {
    padding: 0;
  }
  .area-wrapper {
    padding: 0.3rem 0rem 1.4rem;
  }
}

/* MEDIA QUERIES (middle) */
@media screen and (max-width: 800px) {
  .area-wrapper {
    padding: 0.3rem 0rem 1.2rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .area-wrapper {
    padding: 0.2rem 0rem 0.4rem;
  }
}
