:root {
  --color-primary: #99d9d9;
  --color-bg-gray: #ebebeb;
  --color-bg-lightgray: #f9f9f9;
  --color-white: #ffffff;
  --color-black: #000;
  --color-red: #f20000;
  --color-blue: #004aad;
  --color-green: #d9f8c4;
  --color-border-dark: #7d7d7d;
  --color-border-semi: #b7b7b7;
  --color-border-semilight: #cacaca;
  --color-border-light: #dddddd;
  --color-text-basic: #333333;
  --color-text-semi: #858585;
  --color-text-light: #b7b7b7;
  --color-icon: #cfcfcf;
  --color-navy: #13294b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: var(--primary-font);
}

main {
  display: block;
  /* width: 100vw; */
}

fieldset {
  border: none;
}

li {
  list-style: none;
}

.wrap {
  min-height: 100%;
  position: relative;
}

.body-content {
  padding-bottom: 230px; /* footer의 높이 */
}

/* GENERAL HEADING STYLES */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
