.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  background-color: #fff !important;
  width: 3.2rem !important;
  height: 3.2rem !important;
  font-size: 1.2rem !important;
  border-radius: 50% !important;
  border: 1px solid black !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.2rem !important;
}
.swiper-slide {
  display: flex !important;
  padding: 1.3rem 1rem !important;
  justify-content: center !important;
}

.swiper-button-next {
  transform: translateX(18%) !important;
}
.swiper-button-prev {
  transform: translateX(-18%) !important;
}
