.footer {
  display: flex;
  background-color: #222;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-size: 0.9rem;
  height: 75px;
  padding: 0 1rem;
}
/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .footer {
    height: 50px;
    font-size: 0.6rem;
  }
}
