/* 기본 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  /* flex-wrap: wrap;  */
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}

.menu a {
  margin-right: 4rem;
  color: var(--color-blue);
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  text-align: center;
  white-space: nowrap;
}

.menu a:hover {
  transform: scale(1.1);
}

.logo {
  width: 200px;
  height: 80px;
  margin-right: 100px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  position: absolute;
  right: 1rem;
  background-color: #ff0232;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #ff5461;
  color: #fff;
}

.dropdown-container {
  height: 70px;
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
  position: absolute;
  top: 10px;
  right: 1rem;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
  justify-content: space-between;
  font-size: large;
}

.kakao-profile {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.kakao-profile-img-box {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.kakao-profile-img {
  border-radius: 50%;
  margin-right: 1rem;
}

.kakao-profile-info {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .logo {
    margin-right: 1rem;
  }

  .menu {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
  }

  .logo {
    width: 50%;
  }

  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    margin-top: 1rem;
    margin-left: 1rem; /* 추가 */
    width: 100%; /* 추가 */
  }

  .menu a {
    margin: 0 auto;
  }

  .btn {
    flex-direction: column;
    align-items: flex-start; /* 추가 */
    margin-top: 20px; /* 추가 */
  }

  .login-btn {
    top: 1rem;
  }

  .kakao-profile {
    font-size: medium;
  }

  .dropdown-container {
    /* top: 11rem; */
    display: flex;
    flex-direction: column;
  }
}
