/* 기본 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 32px;
}

.menu a {
  margin-right: 10px;
  color: #004aad;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  margin-left: 50px;
  writing-mode: horizontal-tb;
  text-align: center;

  white-space: nowrap;
}

.menu a:hover {
  transform: scale(1.1);
}

.search-bar {
  width: 60%;
  height: 45px;
  padding: 0 10px 0 40px;
  background-color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
}

.search-input {
  width: 700px;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  overflow: auto;
}
.search-input:focus {
  outline: none;
}

.search-icon {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  float: right;
  background-color: white;
}

.logo {
  width: 200px;
  height: 80px;
  margin-right: 100px;
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.login-btn,
.signup-btn {
  background-color: #ff0232;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #ff5461;
  color: #fff;
}

.signup-btn {
  background-color: #004aad;
}

.signup-btn:hover {
  background-color: #0066cc;
}

.kakao-profile-img {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .btn {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    margin-top: 20px;
  }

  .menu a {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .search-bar {
    max-width: 400px;
  }

  .search-input {
    font-size: 16px;
  }
}

.search-bar {
  width: 100%;
  max-width: 700px;
  height: 45px;
  padding: 0 10px 0 40px;
  background-color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
}

.search-input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  overflow: auto;
}

.search-icon {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  float: right;
  background-color: white;
}

@media (max-width: 768px) {
  .login-btn,
  .signup-btn {
    margin: 10px 0;
  }
}
