/* 기본 스타일 */
.header {
  height: 80px;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-white);
  border-bottom: 1px solid var(--color-border-light);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  padding: 0 10rem;
}
.desktop-only {
  display: flex;
  gap: 3.6rem;
}

.nav {
  display: flex;
  gap: 3.6rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  color: var(--color-text-basic);
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
.link.active {
  color: var(--color-primary);
  font-weight: bold;
}
.link a {
  width: 50px;
}

.menu a:hover {
  transform: scale(1.1);
}

.logo {
  cursor: pointer;
}

.logo-img {
  aspect-ratio: 13/3;
  position: relative;
  height: 40px;
  margin-right: 2rem;
}

.login-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  right: 0;
  border: none;
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #66c9c9;
  color: #fff;
}

.dropdown-container {
  height: 100%;
  position: relative;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kakao-profile {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.kakao-profile-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kakao-profile-img {
  border-radius: 50%;
}

.kakao-profile-info {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--color-text-basic);
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .header-container {
    padding: 0 2rem;
  }
  .desktop-only {
    display: none;
  }
  .nav {
    gap: 0.6rem;
  }
  .logo-img {
    margin-right: 0.7rem;
  }
}

/* MEDIA QUERIES (middle) */
@media screen and (max-width: 800px) {
  .header-container {
    padding: 0 1.3rem;
  }
}

/* 데스크톱에서만 보이는 스타일 */
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

/* 모바일에서만 보이는 스타일 */
@media (max-width: 767px) {
  .container {
    margin-bottom: 0.4rem;
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .header-container {
    padding: 0 0.4rem;
  }
  .nav {
    gap: 0.6rem;
  }

  .logo-img {
    aspect-ratio: 2/1;
    height: 42px;
    margin-right: 0.2rem;
  }
}

.menu {
  color: var(--color-text-basic);
  font-size: 1.7rem;
  cursor: pointer;
  margin-left: 0.8rem;
  margin-right: 0.4rem;
}
