/* Nav */
.title-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.simple-info {
  display: flex;
  font-size: 0.9rem;
  gap: 1rem;
  align-items: center;
}

.detail-nav {
  font-size: 1.4rem;
  display: flex;
  gap: 1.4rem;
}

.item-nav {
  cursor: pointer;
}

.item-nav:hover > .icon {
  color: var(--color-blue);
  scale: 107%;
  transition: 200ms;
}

.roughmapBtn {
  position: relative;
}

.date {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.region {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.bookmark {
  color: var(--color-blue);
}
