/* Nav */
.title-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 1rem;
}
.like {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.title-nav-right {
  font-size: 1.8rem;
  display: flex;
  gap: 1.4rem;
}
.roughmapBtn {
  position: relative;
}
.item-nav {
  cursor: pointer;
}
.map-icon:hover {
  color: var(--color-blue);
  scale: 107%;
  transition: 200ms;
}
