.content {
  padding: 2rem 0 4rem;
}

.info {
  display: flex;
  height: 600px;
  position: relative;
  gap: 0.6rem;
  padding-top: 1rem;
}
.date {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.region {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 0.4rem;
}
.text {
  color: var(--color-text-basic);
}
