.menu {
  width: 160px;
  position: absolute;
  font-size: medium;
  color: #333;
  border-radius: 12px;
  top: 120%;
  z-index: 3;
  list-style: none;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* border: 1px solid var(--color-border-light); */
}

.menu li {
  /* margin: 0.5rem 0; */
  /* margin-top: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 15px;
  color: var(--color-text-basic);
  font-weight: bold;
  cursor: pointer;
}

.menu p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  list-style: none;
  text-align: center;
  border: none;
}

.toli:hover {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--color-bg-gray);
}

.boli:hover {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--color-bg-gray);
}

.mypage {
  font-size: 25px;
  margin-right: 1rem;
}

.logout {
  font-size: 25px;
  margin-right: 1.25rem;
}
