.menu {
  width: 200px;
  margin: 1rem;
  position: absolute;
  top: 3rem;
  right: 0px;
  font-size: medium;
  color: #333;
  border-radius: 12px;
  list-style: none;
  text-align: center;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* border: 1px solid var(--color-border-light); */
}

.menu li {
  /* margin: 0.5rem 0; */
  /* margin-top: 0.5rem; */
  padding: 1rem;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  list-style: none;
  text-align: center;
}

.menu p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  list-style: none;
  text-align: center;
  border: none;
}

.toli:hover {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--color-bg-gray);
}

.boli:hover {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--color-bg-gray);
}

.mypage {
  font-size: 25px;
  margin-right: 1rem;
}

.logout {
  font-size: 25px;
  margin-right: 1.25rem;
}
