.myCourse-container {
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.myCourse-item {
  border: 1px solid var(--color-border-semi);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 800px;
  gap: 1rem;
  margin-bottom: 1rem;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.myCourse-item div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.myCourse-item h2 {
  margin: 0;
  font-size: 1.5rem;
}

.myCourse-item p {
  margin: 0.2rem 0;
}
.liked {
  font-size: large;
  color: red;
  display: flex;
  gap: 3px;
}

.likedCount {
  font-size: small;
  color: black;
}
/* TOGGLE SWITCH BUTTON */
.publish-label {
  margin-left: 28rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transform: translateY(10px);
}
.toggle-switch-text {
  font-size: 0.9rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.toggle-switch-text.publish {
  left: 14px;
}
.toggle-switch-text.private {
  right: 12px;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 82px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  padding: 4px;
  transition: all 1s ease-in-out;
}
.toggle-switch.publish {
  background-color: var(--color-primary);
}
.input {
  display: none;
}
.toggle-switch:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out; /* 트랜지션 속성 추가 */
}
.toggle-switch.publish:after {
  transform: translateX(48px);
}
