.myReview-container {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myReview-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border-light);
  box-shadow: 0px 4px 6px 2px rgba(25, 25, 25, 0.25);
  -webkit-box-shadow: 0px 4px 6px 2px rgba(25, 25, 25, 0.25);
  -moz-box-shadow: 0px 4px 6px 2px rgba(25, 25, 25, 0.25);
  border-radius: 12px;
  padding: 1rem;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 12px;
}

.myReview-item div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.myReview-item h2 {
  margin: 0;
  font-size: 1.5rem;
}

.myReview-item p {
  /* width: 100%; */
  margin: 0.2rem 0;
}

@media screen and (max-width: 1024px) {
  .myReview-item {
    width: 100%;
  }

  .myReview-item div {
    width: 380px;
  }
}

@media screen and (max-width: 800px) {
  .myReview-item {
    width: 100%;
  }

  .myReview-item div {
    width: 70%;
    gap: 0;
  }

  .img {
    width: 100%;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .myReview-item {
    width: 100%;
    flex-direction: column;
  }

  .myReview-item div {
    width: 100%;
  }

  .myReview-item h2 {
    font-size: medium;
  }

  .myReview-item p {
    font-size: small;
  }

  .img {
    width: 290px;
    height: 180px;
  }
}
