.sidebar {
  position: fixed;
  left: 0;
  margin: 8rem 4rem;
  border-color: #333;
  border-radius: 10px;
  width: 240px;
  height: 50%;
  background-color: #f3f3f3;
}

.sidebar__list {
  list-style-type: none;
  list-style: none;
}

.sidebar__button {
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.sidebar__button:hover {
  background-color: #ddd;
}

.sidebar__button--primary {
  color: #fff;
  background-color: #0070f3;
  border-radius: 4px;
}
