.tabContainer {
  display: flex;
  margin-bottom: 20px;
  margin-right: 44rem;
}

.tab {
  cursor: pointer;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: #000;
  border-color: #000;
}

.bookmark-container {
  padding: 2rem;
  border-radius: 10px;
  padding: 1.6rem 1.6rem 1rem;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.8rem;
  column-gap: 2.4rem;
  border-right: 3px solid var(--color-border-light);
  border-left: 3px solid var(--color-border-light);
  border-top: 3px solid var(--color-border-light);
  border-radius: 0.6rem;
}
