.create-course-container {
  display: flex;
  height: 100%;
  padding: 1rem 6rem 0;
  gap: 1rem;
}
.left-container {
  flex: 2;
}
.right-container {
  flex: 1;
  display: block;
  background-color: orange;
}
.orderlist-wrapper {
  overflow-y: scroll;
  transition: max-height 0.3s ease-out;
  background-color: var(--color-bg-gray);
  border-radius: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
