.PageContainer {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 2rem 0 1rem;
  font-size: 1rem;
  gap: 1rem;
}
.pagination {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 0.4rem;
}
.page-item {
  width: 34px;
  padding: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.pagination button:hover {
  background-color: var(--color-primary);
  color: white;
}

.pagination button:active {
  transform: translateY(2px);
}

.button {
  padding: 0.9rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: var(--color-primary);
  border-radius: 50%;
}
/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .PageContainer {
    margin: 1.4rem 0 0.8rem;
    font-size: 0.8rem;
    gap: 0.4rem;
  }
  .pagination {
    gap: 0.1rem;
  }
  .page-item {
    width: 28px;
    padding: 0.2rem;
  }
  .button {
    padding: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .pagination {
    margin: 10px 0;
  }

  .pagination li {
    margin: 5px 0;
  }

  .pagination button {
    padding: 8px 10px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 412px) {
  .pagination button {
    padding: 8px 8px;
  }
  .prevNextButton {
    margin: 0;
  }
}
