/* body */
.home-body-container {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.home-content-container {
  width: 1200px;
  display: block;
}
