/* Top 5 Place CSS */
.topfive-place-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  width: fit-content;
  background-color: #fcf3f3;
  padding: 2rem;
  border-radius: 0.6rem;
  border: 1px solid black;
}

.topfive-place-title {
  margin-bottom: 2rem;
}

.topfive-place-card {
  display: flex;
  gap: 1rem;
}

/* Recommand Course CSS */
.recommand-course-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  width: fit-content;
  background-color: #effee3;
  padding: 2rem;
  border-radius: 0.6rem;
  border: 1px solid black;
}
.recommand-course-title {
  margin-bottom: 2rem;
}
.recommand-course-card {
  display: flex;
  gap: 1rem;
}
