.rating-container {
  display: inline-block;
}

.star {
  color: #f2cd5c;
}

.number {
  display: inline-block;
  font-size: 0.7rem;
  color: var(--color-text-basic);
  margin-left: 0.1rem;
  transform: translateY(-2px);
}
