.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: inline-block;
  padding-top: 1.2rem;
}

/* HEADER */
.place-header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-header-container h1 {
  margin-bottom: 1.6rem;
}

/* BODY */
.place-body-container {
  width: 100%;
}

.place-body-head {
  display: flex;
  justify-content: flex-end;
}

.write-btn {
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  background-color: #99d9d9;
  font-size: 1.1rem;
  color: #111;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
  margin-top: 0.6rem;
}

.filter-wrapper {
  width: 100%;
  padding: 0.5rem 8rem 2.5rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .filter-wrapper {
    padding: 0.3rem 0rem 1.4rem;
  }
}

/* MEDIA QUERIES (middle) */
@media screen and (max-width: 800px) {
  .filter-wrapper {
    padding: 0.3rem 0rem 1.2rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .filter-wrapper {
    padding: 0.2rem 0rem 0.4rem;
  }
}
