.review {
  --color-bg: #f9f9f9;
  --color-icon: #a1a1a1;
  --color-like: #f20000;
  --color-text: #42444a;
  --color-accent: #99d9d9;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4rem 8rem 1rem;
  padding: 2rem 3rem;
  background-color: var(--color-bg);
  border-radius: 12px;
}

.reviewTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.h1 {
  font-size: 28px;
}

.reviewBox {
  border-radius: 12px;
  padding: 1rem;
}

.reviewBtn {
  width: 80px;
  height: 30px;
  margin: auto 1rem;
  padding: 8px 0;
  background-color: var(--color-accent);
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  color: var(--color-text);
}
