.ContentWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30rem;
    height: 33rem;
    background: #fff;
    border-radius: 12px;
    padding: 4rem;
    z-index: 1;
}

.ButtonWrapper {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
