.ContentWrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  width: 28rem;
  height: 28rem;
  background: var(--color-white);
  border-radius: 12px;
  padding: 4rem 3rem;
  z-index: 1;
  text-align: center;
}

.TextWrapper {
  margin-bottom: 5rem;
}

.h2 {
  margin-bottom: 4rem;
}

.text {
  text-align: start;
}

.ButtonWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
