.deleteReviewModalContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30rem;
  height: 20rem;
  background: #fff;
  border-radius: 12px;
  padding: 4rem;
  z-index: 1;

  --color-icon: #cfcfcf;
}

.deleteReviewInfo {
  margin: 2rem 0 4rem 0;
  font-size: 1rem;
  text-align: center;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 4rem 0 4rem;
}

.cancelBtn,
.deleteBtn {
  width: 100px;
  height: 50px;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  font-size: medium;
  color: black;
  cursor: pointer;
}

.cancelBtn {
  background-color: var(--color-border-light);
}

.deleteBtn {
  background-color: var(--color-primary);
}

.deleteBtn:hover,
.cancelBtn:hover {
  filter: brightness(90%);
}
