.ContentWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 28rem;
  height: 28rem;
  background: #fff;
  border-radius: 12px;
  padding: 4rem;
  z-index: 1;
}

.ButtonWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.TextWrapper {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.h3 {
  text-align: center;
}
