.loginContent {
  display: flex;
  flex-direction: column;
}

.loginTitle {
  margin-bottom: 1rem;
}

.loginInfo {
  font-size: medium;
  color: #878787;
  margin-bottom: 6rem;
}

.link {
  text-decoration-line: none;
}

.btn {
  margin-bottom: 0.5rem;
}

.loginGoogle {
  margin-left: 78px;
  cursor: pointer;
}

.closeBtn:hover {
  color: gray;
}

.footer {
  margin-top: 6rem;
  font-size: small;
  color: #878787;
}
