.boldTitle {
  margin-bottom: 1rem;
  font-weight: 700;
}

.formTxtArea {
  resize: none;
  height: 12rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border-light);
  border-radius: 12px;
  font-size: 16px;
}
