.reviewSection {
  width: 100%;
  max-width: 70rem;
  margin: 2rem 8rem;

  --color-icon: #cfcfcf;
}

/* header */
.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: var(--color-bg-lightgray);
  /* border: 3px solid var(--color-border-semi); */
  border-radius: 12px;
}

.reviewTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.h2 {
  font-size: 32px;
}

.reviewBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  padding: 1rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  font-size: medium;
  color: var(--color-text-basic);
}

.reviewBtn:hover {
  filter: brightness(105%);
}

.reviewNav {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 2rem;
}

.reviewInfo {
  width: 9rem;
  margin-right: 2rem;
}

.select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  width: 120px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  border: 1px solid var(--color-border-light);
  cursor: pointer;
}

.select:hover {
  border: 3px solid var(--color-border-light);
}

@media (max-width: 768px) {
  .reviewSection {
    width: auto;
    margin: 2rem 2rem;
  }

  .reviewContainer {
    padding: 1rem;
  }

  .reviewTitle {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .h2 {
    font-size: 24px;
  }

  .reviewBtn {
    width: 100%;
    margin-top: 1rem;
    font-size: small;
  }

  .reviewNav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .reviewInfo {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .select {
    width: 100%;
  }
}
