.review {
  --color-bg: #f9f9f9;
  --color-bg-white: #ffffff;
  --color-border: #dddddd;
  --color-icon: #a1a1a1;
  --color-like: #f20000;
  --color-text: #42444a;
  --color-accent: #99d9d9;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 8rem 2rem;
  padding: 2rem 3rem;
  background-color: var(--color-bg);
  border-radius: 12px;
}

.reviewTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.h2 {
  font-size: 32px;
}

.reviewBtn {
  width: 120px;
  height: 50px;
  padding: 1rem;
  background-color: var(--color-accent);
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.reviewBtn:hover {
  filter: brightness(90%);
}

.reviewNav {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 2rem;
}

.reviewInfo {
  width: 7rem;
  margin-right: 2rem;
}

.select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  border: 1px solid var(--color-border);
}

.select:hover {
  border: 2px solid var(--color-border);
}
