.ratingBox {
  display: flex;
}

.active {
  color: #fcc419;
}

.inactive {
  color: var(--color-border-semi);
}
.ratingTxt {
  margin-top: 4px;
  padding: 8px;
}

.ratingDesc {
  margin-left: 4px;
  font-size: small;
  color: var(--color-border-semi);
}
