/* body */
.home-body-container {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.home-content-container {
  width: 100%;
  display: block;
}
