.form {
  width: calc(65% - 0.4rem);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-border-light);
  padding: 1.6rem 1.6rem;
  gap: 1.2rem;
  border-radius: 1rem;
}

.first-input-wrapper,
.second-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.col-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* TOGGLE SWITCH BUTTON */
.publish-label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transform: translateY(10px);
}
.toggle-switch-text {
  font-size: 0.9rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.toggle-switch-text.publish {
  left: 14px;
}
.toggle-switch-text.private {
  right: 10px;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 5.4rem;
  height: 2.4rem;
  background-color: #ccc;
  border-radius: 34px;
  padding: 4px;
  transition: all 1s ease-in-out;
}
.toggle-switch.publish {
  background-color: var(--color-primary);
}

.switch {
  display: none;
}

.toggle-switch:after {
  content: "";
  position: absolute;
  width: 1.9rem;
  height: 1.9rem;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out; /* 트랜지션 속성 추가 */
}
.toggle-switch.publish:after {
  transform: translateX(49px);
}

.input-group {
  position: relative;
  width: 100%;
  height: 100%;
}
.input-title {
  font-size: 1rem;
  color: #555;
  display: block;
  margin-bottom: 4px;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  background: #fafafa;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #666;
  outline: none;
  border: none;
  margin: 0;
  padding: 0.7rem 0.8rem;
}

.content {
  display: block;
  resize: none;
  height: 78%;
}
.input-group option {
  padding: 0.6rem 0;
}

.input-group.region {
  width: 80%;
}

.input-group.courseDays {
  width: 70%;
}
.error-text {
  position: absolute;
  top: 100%;
  font-size: 0.8rem;
  margin-left: 6px;
  transform: translateY(-3px);
  color: var(--color-red);
  display: flex;
  align-items: center;
}

.valid-text-length {
  position: absolute;
  top: 100%;
  font-size: 0.7rem;
  transform: translateY(-3px);
  right: 0;
  color: var(--color-text-semi);
}

.valid-title-length {
  font-size: 0.7rem;
  color: var(--color-text-semi);
  margin-left: 0.3rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .form {
    width: 100%;
    height: calc(50% - 0.4rem);
    padding: 1.2rem;
    gap: 0.9rem;
  }
  .first-input-wrapper,
  .second-input-wrapper {
    gap: 0.8rem;
  }
  .date-wrapper {
    gap: 0.9rem;
  }

  .input-group {
    padding: 0.5rem 0.6rem 0;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .form {
    height: calc(50% - 0.4rem);
    padding: 1rem;
  }
  .second-input-wrapper {
    flex-direction: column;
  }
  .input-group {
    padding: 0;
  }
  .error-text {
    font-size: 0.7rem;
  }
  .input-group input,
  .input-group select,
  .input-group textarea {
    font-size: 0.8rem;
    padding: 0.6rem 0.7rem;
  }
}
