.form {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid var(--color-border-light);
  padding: 1.6rem 1.6rem;
  border-radius: 1rem;
}
.first-line {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1.4rem;
}
.second-line {
  display: flex;
  padding-bottom: 1rem;
  gap: 1.4rem;
  /* height: 100%; */
}

/* TOGGLE SWITCH BUTTON */
.publish-label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transform: translateY(10px);
}
.toggle-switch-text {
  font-size: 0.9rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.toggle-switch-text.publish {
  left: 14px;
}
.toggle-switch-text.private {
  right: 10px;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 5.4rem;
  height: 2.4rem;
  background-color: #ccc;
  border-radius: 34px;
  padding: 4px;
  transition: all 1s ease-in-out;
}
.toggle-switch.publish {
  background-color: var(--color-primary);
}
.input {
  display: none;
}
.toggle-switch:after {
  content: "";
  position: absolute;
  width: 1.9rem;
  height: 1.9rem;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out; /* 트랜지션 속성 추가 */
}
.toggle-switch.publish:after {
  transform: translateX(49px);
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 4px;
}
.input-title {
  font-size: 1rem;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group select,
.input-group textarea {
  background: #fafafa;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0.7rem 0.8rem;
  font-size: 0.9rem;
  color: #666;
  outline: none;
  margin: 0;
  border: none;
  width: 100%;
}

.input-group textarea {
  height: 120px;
  resize: none;
}
.input-group option {
  padding: 0.6rem 0;
}

.input-group.region {
  width: 80%;
}

.error-text {
  position: absolute;
  top: 100%;
  font-size: 0.8rem;
  margin-left: 6px;
  color: var(--color-red);
  display: flex;
  align-items: center;
}

.valid-text-length {
  position: absolute;
  top: 100%;
  font-size: 0.7rem;
  right: 0;
  color: var(--color-text-semi);
}

.valid-title-length {
  font-size: 0.7rem;
  color: var(--color-text-semi);
  margin-left: 0.3rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .form {
    flex: 3;
    padding: 0.9rem 0.9rem;
  }
  .first-line {
    padding-bottom: 0.3rem;
    gap: 0.6rem;
  }
  .second-line {
    padding-bottom: 0.3rem;
    gap: 0.6rem;
    /* height: 100%; */
  }
  .input-group {
    padding: 0.4rem 0.5rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .second-line {
    flex-wrap: wrap;
  }
  .input-group {
    padding: 0;
  }
  .error-text {
    font-size: 0.7rem;
  }
}
