.list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.8rem;
  column-gap: 2.4rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .list-container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.4rem;
    column-gap: 2.2rem;
    padding: 0;
  }
}

/* MEDIA QUERIES (middle) */
@media screen and (max-width: 800px) {
  .list-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.2rem;
    column-gap: 2rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .list-container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 1.6rem;
  }
}
