.profile-container {
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: var(--color-text-basic);
}

.profile-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  font-size: 1rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .profile-container {
    gap: 0.6rem;
  }
  .profile-name {
    font-size: 1rem;
  }
  .profile-img {
    width: 40px;
    height: 40px;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .profile-container {
    gap: 0.4rem;
  }
  .profile-name {
    font-size: 0.9rem;
  }
  .profile-img {
    width: 38px;
    height: 38px;
    object-fit: cover;
  }
}
