.place-filter-container {
  width: 100%;
  padding: 1.4rem 1.6rem 0.8em;
  background-color: #fff;
  border-bottom: 0.14rem solid #b7b7b7;
  margin-top: 0.6rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  box-shadow: 0px -5px 0px 0px rgba(153, 217, 217, 0.75);
  -webkit-box-shadow: 0px -5px 0px 0px rgba(153, 217, 217, 0.75);
  -moz-box-shadow: 0px -5px 0px 0px rgba(153, 217, 217, 0.75);
}
.place-filter-container h1 {
  margin-bottom: 1rem;
}

.select-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.6rem;
}

.tag-container {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.reset-btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  gap: 0.2rem;
}
