.place-list-container {
  width: 100%;
  display: grid;
  padding: 1.6rem 1.6rem 1rem;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.8rem;
  column-gap: 2.4rem;
  border-right: 3px solid var(--color-border-light);
  border-left: 3px solid var(--color-border-light);
  border-top: 3px solid var(--color-border-light);
  border-radius: 0.6rem;
}
