.place-item-container {
  /* position: relative; */
  width: 100%;
  height: 270px;
  border: 2px solid var(--color-border-semi);
  background-color: white;
  box-sizing: border-box;
  border-radius: 1rem;
}

.item-nav-container {
  display: flex;
  flex: 1;
  color: black;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 2px solid var(--color-border-semi);
}
.item-image {
  position: relative;
  max-width: 280px;
  height: 12rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  overflow: hidden;
}

.item-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.keywordInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 1rem 0.5em 1rem;
}

.keywordDesc {
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  width: 180px;
  margin-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: large;
  text-align: left;
  font-weight: 700;
}

.review {
  font-size: small;
}

.keywordBookmark {
  width: 30px;
  margin-top: 10px;
}

.bookmark,
.unbookmark {
  background-color: transparent;
  border: none;
}

.unbookmark {
  color: var(--color-blue);
  font-size: 26px;
}

.unbookmark:hover {
  color: var(--color-blue);
  scale: 105%;
  transition: 200ms;
}

.bookmark {
  color: var(--color-blue);
  font-size: 26px;
}
