.place-item-container {
  width: 100%;
  height: 260px;
  border-radius: 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 13px 2px rgba(25, 25, 25, 0.25);
  -webkit-box-shadow: 0px 4px 13px 2px rgba(25, 25, 25, 0.25);
  -moz-box-shadow: 0px 4px 13px 2px rgba(25, 25, 25, 0.25);
  color: var(--color-text-basic);
}

.item-nav-container {
  display: flex;
  flex: 1;
  color: black;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 2px solid var(--color-border-semi);
}

.item-image {
  position: relative;
  height: 11rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
}

.item-image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item-image:hover img {
  transition: all ease 0.3s;
  transform: scale(1.1);
}

.keywordInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 1rem 0.5em 1rem;
  cursor: pointer;
}

.keywordDesc {
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  width: 180px;
  margin-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: large;
  text-align: left;
  font-weight: 700;
}

.review {
  font-size: small;
}

.keywordBookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.bookmark,
.unbookmark {
  background-color: transparent;
  border: none;
}

.unbookmark {
  color: var(--color-border-light);
  font-size: 30px;
}

.unbookmark:hover {
  color: var(--color-blue);
  scale: 105%;
  transition: 200ms;
}

.bookmark {
  color: var(--color-blue);
  font-size: 30px;
}
