.Container {
  display: flex;
  position: relative;
  margin-right: 15rem;
  margin-top: 4rem;
  align-items: center;
  height: 100%;
  width: 100%;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 65px;
}

.Title {
  text-align: center;
  margin-bottom: 3rem;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  width: 900px;
}
