.placeDetail {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 2rem 8rem;
  padding: 2rem 3rem;
  background-color: var(--color-bg-lightgray);
  border-radius: 12px;
  color: var(--color-text-basic);

  --color-icon: #cfcfcf;
}

/* header */
.detailHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.address {
  padding: 8px;
  margin-bottom: 8px;
}

.rating,
.review {
  font-size: 16px;
}

.bookMarkBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookMarkText {
  padding-right: 4px;
  font-size: small;
}

/* main */
.detailContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-text-basic);
}

.imgBox {
  width: 100%;
  /* height: 100%; */
  max-height: 350px;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 8px;
}

.img {
  width: 100%;
  height: 100%;
  max-height: 350px;
  /* object-fit: cover;
  object-position: center; */
  border-radius: 8px;
}

.detailMap {
  width: 100%;
  height: 100%;
  max-height: 350px;
  margin-bottom: 1rem;
}

.map {
  height: 350px;
}

.detailDesc {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 1rem;
  padding: 1rem;
}

.detailDesc::-webkit-scrollbar {
  width: 10px;
}

.detailDesc::-webkit-scrollbar-thumb {
  height: 10%;
  background: var(--color-border-light);
  border-radius: 10px;
}

.detailDesc::-webkit-scrollbar-track {
  background: rgba(142, 220, 246, 0.161);
}

.detailDesc,
.map {
  border: 1px solid var(--color-border-light);
  background-color: var(--color-white);
  border-radius: 8px;
}

.descTitle {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: large;
}

.descInfo {
  margin-bottom: 1rem;
}

.reviewSection {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 2rem 8rem;
  padding: 2rem 3rem;
  background-color: var(--color-bg-lightgray);
  border-radius: 12px;
  color: var(--color-text-basic);

  --color-icon: #cfcfcf;
}

/* header */
.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-bg-lightgray);
  border-radius: 12px;
}

.reviewTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.h2 {
  font-size: 32px;
}

.reviewBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  padding: 1rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  font-size: medium;
  color: var(--color-text-basic);
  cursor: pointer;
}

.reviewBtn:hover {
  filter: brightness(95%);
}

.reviewNav {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 2rem;
}

.reviewInfo {
  width: 9rem;
  margin-right: 2rem;
}

.select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  width: 120px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  border: 1px solid var(--color-border-light);
  cursor: pointer;
}

.select:hover {
  border: 3px solid var(--color-border-light);
}

@media (max-width: 920px) {
  .placeDetail {
    width: auto;
    margin: 2rem 2rem;
    padding: 1rem;
  }

  .detailHeader {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .detailContent {
    flex-direction: column;
  }

  .detailDesc {
    height: 150px;
  }

  .descTitle {
    font-size: medium;
  }

  .descInfo {
    font-size: small;
  }

  .reviewSection {
    width: auto;
    margin: 2rem 2rem;
  }

  .reviewContainer {
    padding: 1rem;
  }

  .reviewTitle {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .h2 {
    font-size: 24px;
  }

  .reviewBtn {
    width: 100%;
    margin-top: 1rem;
    font-size: small;
  }

  .reviewNav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .reviewInfo {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .select {
    width: 100%;
  }
}
