.placeDetail {
  width: 70rem;
  margin: 2rem 8rem 2rem;
  padding: 2rem 3rem;
  background-color: var(--color-bg-lightgray);
  border-radius: 12px;
  /* 
  --color-primary: #99d9d9;
  --color-bg-lightgray: #f9f9f9;
  --color-bg-white: #ffffff;
  --color-red: #f20000;
  --color-blue: #004aad;
  --color-border-dark: #7d7d7d;
  --color-border-semi: #b7b7b7;
  --color-border-light: #dddddd;
  --color-text-basic: #333333;
  --color-text-semi: #b7b7b7; */
  --color-icon: #cfcfcf;
}

.detailHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.rating,
.review {
  font-size: 16px;
}

.likeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.likeText {
  padding-right: 4px;
}

.unbookmark {
  color: var(--color-icon);
  font-size: 50px;
}
.unbookmark:hover {
  color: var(--color-red);
  scale: 110%;
  transition: 200ms;
}

.bookmark {
  color: var(--color-red);
  font-size: 50px;
}

.imgSlider {
  height: 12rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: 1px solid var(--color-border-light);
  padding: 0 4rem;
  background-color: var(--color-bg-white);
}

.detailContent {
  display: flex;
  color: var(--color-text-basic);
}
.detailDesc {
  width: 200rem;
  margin-right: 1rem;
}

.detailDesc,
.detailMap {
  height: 20rem;
  padding: 1rem;
  border: 1px solid var(--color-border-light);
  background-color: var(--color-bg-white);
  border-radius: 8px;
}

.detailMap {
  width: 100rem;
}

.descInfo {
  margin-bottom: 8px;
}

.descTitle {
  font-weight: bold;
}

.placeMap {
  padding: 1rem;
}
