.section {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  color: var(--color-text-basic);
}

.keywordList {
  padding: 0 2rem 0 2rem;
}

.h3 {
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 700px;
}

.noResult {
  text-align: center;
}

@media (max-width: 768px) {
  .keywordList {
    padding: 0;
  }

  .h3 {
    margin-left: 0;
  }
}
