.section {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  color: var(--color-text-basic);
}

.keywordList {
  margin-top: 1.4rem;
}

.h3 {
  margin-left: 4rem;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;
}

.noResult {
  text-align: center;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .h3 {
    margin-left: 3rem;
  }
}

/* MEDIA QUERIES (middle) */
@media screen and (max-width: 800px) {
  .h3 {
    margin-left: 2rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .h3 {
    margin-left: 0;
  }
}
