.keywordItemContainer {
  width: 280px;
  border: 2px solid var(--color-border-light);
  border-radius: 16px;
}

.keywordItemContainer:hover {
  color: var(--color-text-basic);
  transition: all ease 0.3s;
  box-shadow: 7px 4px 14px -5px rgba(153, 217, 217, 0.75);
  -webkit-box-shadow: 7px 4px 14px -5px rgba(153, 217, 217, 0.75);
  -moz-box-shadow: 7px 4px 14px -5px rgba(153, 217, 217, 0.75);
}

.keywordItem {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: var(--color-text-basic);
  cursor: pointer;
}

.img {
  width: "auto";
  height: "auto";
  text-align: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.keywordInfo {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0.5em 1rem;
}

.keywordDesc {
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  width: 180px;
  margin-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: medium;
  text-align: left;
  font-weight: 700;
}

.review {
  font-size: small;
}

.keywordBookmark {
  width: 30px;
  margin-top: 1rem;
  margin-left: 20px;
}

.btn {
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  --color-icon: #cfcfcf;
}

.bookmark,
.unbookmark {
  background-color: transparent;
  border: none;
  color: var(--color-border-light);
}

.unbookmark {
  color: var(--color-border-light);
  font-size: 30px;
}

.unbookmark:hover {
  color: var(--color-blue);
  scale: 105%;
  transition: 200ms;
}

.bookmark {
  color: var(--color-blue);
  font-size: 28px;
}

/* @media (max-width: 768px) {
  .keywordItemContainer {
    height: auto;
  }

  .keywordInfo {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 100%;
  }

  .title {
    width: 100%;
    text-align: center;
  }

  .keywordBookmark {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .bookmark,
  .unbookmark {
    font-size: 24px;
  }
} */
