.tabmenu {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 5rem;
  border-bottom: 1px solid var(--color-border-light);
}

.subtab,
.activetab {
  margin-right: 3rem;
  padding: 0 1rem 1rem 1rem;
  font-size: 20px;
}

.activetab {
  font-weight: 700;
  border-bottom: 3px solid var(--color-blue);
}
