.section {
  width: 100%;
  margin: 1rem;
  /* display: flex;
  flex-direction: column; */
}

.keywordList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  list-style: none;
  margin: 1rem;
}

.h3 {
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

.review {
  font-size: 0.9rem;
  text-align: left;
}
