.section {
  margin: 1rem;
}

.keywordList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
}

.h2 {
  margin: 0 0 3rem 4rem;
}

.review {
  font-size: 0.9rem;
  text-align: left;
}
